*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bree Serif", serif;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  background-color: #ccc;
  width: 13px;
}

body::-webkit-scrollbar-thumb {
  background-color: #474747;
  border-radius: 10px;
  height: 120px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #3a3a3a;
}
body::-webkit-scrollbar-thumb:active {
  background-color: #2b2b2b;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  width: 100%;
  height: 100%;
}
.container header {
  grid-column: 1/2;
  grid-row: 1/2;
}
.container header .logo {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: auto;
}
.container header .logo img {
  grid-column: 1/2;
  grid-row: 1/2;
}
.container header .logo span {
  grid-column: 2/3;
  grid-row: 1/2;
}
.container .principal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-column: 1/2;
  grid-row: 2/3;
}
.container .principal .images {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: auto auto;
  grid-column: 1/2;
  grid-row: 2/3;
}
.container .principal .images .img-1 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.container .principal .images .img-2 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.container .principal .images .img-3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.container .principal .images .img-4 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.container .principal .images .img-5 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.container .principal .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-column: 1/2;
  grid-row: 1/2;
}
.container .principal .content h1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.container .principal .content p {
  grid-column: 1/2;
  grid-row: 2/3;
}
.container .categories {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-column: 1/2;
  grid-row: 3/4;
}
.container .categories .category-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.container .categories .category-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.container .categories .category-3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.container .categories .category-4 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.container .categories .category-5 {
  grid-column: 5/6;
  grid-row: 1/2;
}
.container .categories .category-6 {
  grid-column: 6/7;
  grid-row: 1/2;
}
.container .categories .category-7 {
  grid-column: 7/8;
  grid-row: 1/2;
}
.container .gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(36, auto);
  grid-gap: 0.5rem;
  grid-column: 1/2;
  grid-row: 4/5;
}
.container .gallery .card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.container .gallery .card img {
  grid-column: 1/3;
  grid-row: 1/2;
}
.container .gallery .card .container-title {
  grid-column: 1/2;
  grid-row: 2/3;
}
.container .gallery .card .container-info {
  grid-column: 2/3;
  grid-row: 2/3;
}
.container footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-column: 1/2;
  grid-row: 5/6;
}
.container footer .info-footer {
  display: grid;
  grid-template-colums: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.container footer .footer-2 {
  display: grid;
  grid-template-colums: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.container footer .footer-3 {
  display: grid;
  grid-template-colums: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
  grid-column: 1/2;
  grid-row: 3/4;
}
.container footer .footer-4 {
  display: grid;
  grid-template-colums: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
  grid-column: 1/2;
  grid-row: 4/5;
}
.container footer .copyright {
  grid-column: 1/2;
  grid-row: 5/6;
}

.main {
  grid-column: 1/2;
  grid-row: 1/6;
}
.main .modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
}
.main .modal .arrows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/3;
  grid-row: 2/3;
}
.main .modal .arrows .first {
  grid-column: 1/3;
}
.main .modal .header {
  grid-column: 1/3;
  grid-row: 1/2;
}
.main .modal .modal-img {
  grid-column: 1/3;
  grid-row: 2/3;
}
.main .modal .modal-title {
  grid-column: 1/3;
  grid-row: 3/4;
}
.main .modal .modal-text {
  grid-column: 1/3;
  grid-row: 4/5;
}

header {
  background-color: #00b894;
  position: fixed;
  width: 100%;
  z-index: 10;
}
header .logo {
  padding: 5px;
}
header .logo img {
  width: 40px;
  margin: 0 auto;
}
header .logo span {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  font-family: "Russo One", sans-serif;
}

.principal {
  padding-top: 70px;
}
.principal .images {
  padding: 15px;
}
.principal .images .img {
  width: 100%;
}
.principal .content {
  padding: 15px;
}
.principal .content h1 {
  color: #00c79f;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  padding: 5px;
}
.principal .content p {
  color: #999;
  font-size: 1rem;
}

.categories {
  background-color: #e3e7ec;
  overflow-x: auto;
  padding: 0 5px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 3px 0px;
}
.categories .category {
  padding: 10px;
}
.categories .category a {
  color: #575b64;
}
.categories .category a h2 {
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
.categories .category a:active {
  color: #00b894;
}
.categories .category-1 {
  position: relative;
}
.categories .category-1 a {
  color: #00b894;
}
.categories .category-1::after {
  content: "";
  background-color: #00b894;
  position: absolute;
  height: 4px;
  width: 100%;
  left: 2px;
  bottom: 0px;
  border-radius: 4px;
}

.gallery {
  background-color: #dfe4ea;
  padding: 30px 10px;
}
.gallery .card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 5px #333333;
}
.gallery .card img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.gallery .card .container-title {
  display: flex;
  padding-left: 20px;
}
.gallery .card .container-title .title {
  display: flex;
  align-items: center;
  color: #575b64;
  font-size: 1.3rem;
}
.gallery .card .container-info {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
}
.gallery .card .container-info .info {
  display: flex;
  align-items: center;
  text-align: center;
  color: #575b64;
  font-size: 1.3rem;
  border-style: solid;
  border-radius: 2rem;
  border-width: 1.5px;
  padding: 5px 8px;
}
.gallery .card .container-info .info:active {
  color: #00b894;
}

footer {
  background-color: #8795a8;
}
footer .info-footer {
  padding: 15px 10px;
}
footer .info-footer h3 {
  color: #24e6b2;
  font-size: 1.25rem;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
}
footer .info-footer .link {
  padding-left: 5px;
}
footer .info-footer .link::before {
  content: "";
  position: absolute;
  background-color: #00b894;
  width: 5px;
  height: 25px;
}
footer .info-footer .link a {
  color: #e4e4e4;
  padding-left: 10px;
}
footer .info-footer .link a:active {
  color: #00ffcc;
}
footer .footer-2 {
  padding: 15px 10px;
}
footer .footer-2 h3 {
  color: #24e6b2;
  font-size: 1.25rem;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
}
footer .footer-2 .link {
  padding-left: 5px;
}
footer .footer-2 .link::before {
  content: "";
  position: absolute;
  background-color: #00b894;
  width: 5px;
  height: 25px;
}
footer .footer-2 .link a {
  color: #e4e4e4;
  padding-left: 10px;
}
footer .footer-2 .link a:active {
  color: #00ffcc;
}
footer .footer-3 {
  padding: 15px 10px;
}
footer .footer-3 h3 {
  color: #24e6b2;
  font-size: 1.25rem;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
}
footer .footer-3 .link {
  padding-left: 5px;
}
footer .footer-3 .link::before {
  content: "";
  position: absolute;
  background-color: #00b894;
  width: 5px;
  height: 25px;
}
footer .footer-3 .link a {
  color: #e4e4e4;
  padding-left: 10px;
}
footer .footer-3 .link a:active {
  color: #00ffcc;
}
footer .footer-4 {
  padding: 15px 10px;
}
footer .footer-4 h3 {
  color: #24e6b2;
  font-size: 1.25rem;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
}
footer .footer-4 .link {
  padding-left: 5px;
}
footer .footer-4 .link::before {
  content: "";
  position: absolute;
  background-color: #00b894;
  width: 5px;
  height: 25px;
}
footer .footer-4 .link a {
  color: #e4e4e4;
  padding-left: 10px;
}
footer .footer-4 .link a:active {
  color: #00ffcc;
}
footer .copyright {
  background-color: #10ac84;
  padding: 10px;
}
footer .copyright p {
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .container .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(18, auto);
  }
  .container footer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
  }
  .container footer .footer-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .container footer .footer-3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .container footer .footer-4 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .container footer .copyright {
    grid-column: 1/5;
    grid-row: 2/3;
  }
}
@media (min-width: 992px) {
  .container .principal {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .container .principal .images {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .container .principal .content {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .container .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(12, auto);
  }
  .container .main .modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 60px auto 60px;
  }
  .container .main .modal .arrows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .container .main .modal .arrows .first {
    grid-column: 2/3;
  }
  .container .main .modal .header {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .container .main .modal .modal-img {
    grid-column: 1/2;
    grid-row: 2/5;
  }
  .container .main .modal .modal-title {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .container .main .modal .modal-text {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (min-width: 992px) {
  .principal {
    padding-top: 100px;
    padding-left: 20px;
  }
  .principal .content {
    display: flex;
  }
  .principal .content h1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 2.5rem;
  }
  .principal .content p {
    font-size: 1.1rem;
    padding: 5px 40px;
  }
}
@media (min-width: 992px) {
  .categories .category a:hover {
    color: #2b2d30;
  }
  .categories .category a:active {
    color: #00b894;
  }
  .categories .category-1 a:hover {
    color: #00b894;
  }
}
@media (min-width: 992px) {
  .gallery .card .container-info .info:hover {
    color: #00b894;
  }
  .gallery .card .container-info .info:active {
    color: #00d3a9;
  }
}
@media (min-width: 992px) {
  footer {
    padding-top: 20px;
  }
  footer .info-footer {
    padding: 15px 10px 25px 50px;
  }
  footer .info-footer .link a:hover {
    color: #00ffcc;
  }
  footer .footer-2 {
    padding: 15px 10px 25px;
  }
  footer .footer-2 .link a:hover {
    color: #00ffcc;
  }
  footer .footer-3 {
    padding: 15px 10px 25px;
  }
  footer .footer-3 .link a:hover {
    color: #00ffcc;
  }
  footer .footer-4 {
    padding: 15px 10px 25px;
  }
  footer .footer-4 .link a:hover {
    color: #00ffcc;
  }
}
.main {
  background-color: rgba(0, 0, 0, 0.767);
  display: flex;
  justify-content: center;
  z-index: 10;
}
.main .modal {
  background-color: #f3f3f3;
  position: fixed;
  top: 8%;
  width: 100%;
  overflow-y: auto;
}
.main .modal .arrows {
  padding: 0 10px;
}
.main .modal .arrows .arrow-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main .modal .arrows .arrow-right .icon-chevron-right {
  display: flex;
  color: #ccc;
  background-color: #2b2b2b;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 1.6rem;
  z-index: 2;
}
.main .modal .arrows .arrow-right .icon-chevron-right:active {
  color: #f1f1f1;
  background-color: #525252;
}
.main .modal .arrows .arrow-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .modal .arrows .arrow-left .icon-chevron-left {
  display: flex;
  color: #ccc;
  background-color: #2b2b2b;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 1.6rem;
  z-index: 2;
}
.main .modal .arrows .arrow-left .icon-chevron-left:active {
  color: #f1f1f1;
  background-color: #525252;
}
.main .modal .header {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e4e4e4;
  padding: 5px 12px;
}
.main .modal .header .icon-arrow-left2 {
  color: #999;
  font-size: 1.6rem;
  padding: 6px;
  border-radius: 10px;
}
.main .modal .header .icon-arrow-left2:active {
  color: #00b894;
  background-color: #d8d8d8;
}
.main .modal .modal-img {
  width: 100%;
}
.main .modal .modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00b894;
  font-size: 1.5rem;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  padding: 5px;
}
.main .modal .modal-text {
  color: #999;
  padding: 10px 15px;
}

@media screen and (max-width: 400px) {
  .main .modal .arrows {
    padding: 0 5px;
  }
  .main .modal .arrows .arrow-right .icon-chevron-right {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
  }
  .main .modal .arrows .arrow-left .icon-chevron-left {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 650px) and (max-width: 767px) {
  .main {
    padding: 20px;
  }
  .main .modal {
    top: 5%;
    width: 88%;
    border-radius: 6px;
  }
}
@media screen and (min-width: 768px) and (max-width: 899px) {
  .main {
    padding: 20px;
  }
  .main .modal {
    top: 6%;
    width: 76%;
    border-radius: 6px;
  }
}
@media screen and (min-width: 900px) and (max-width: 991px) {
  .main {
    padding: 20px;
  }
  .main .modal {
    top: 6%;
    width: 70%;
    border-radius: 6px;
  }
}
@media screen and (min-width: 992px) {
  .main .modal {
    top: 15%;
    width: 90%;
    border-radius: 6px;
  }
  .main .modal .arrows {
    padding: 0;
  }
  .main .modal .arrows .arrow-right {
    justify-content: center;
  }
  .main .modal .arrows .arrow-right .arrow-r {
    color: #ececec;
    background-color: #00b894;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 90px;
    border-radius: 4px;
  }
  .main .modal .arrows .arrow-right .arrow-r:hover {
    color: #e7e7e7;
    background-color: #00c79f;
  }
  .main .modal .arrows .arrow-right .arrow-r:active {
    color: #ffffff;
    background-color: #00d1a7;
  }
  .main .modal .arrows .arrow-left {
    justify-content: center;
  }
  .main .modal .arrows .arrow-left .arrow-l {
    color: #ececec;
    background-color: #00b894;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 90px;
    border-radius: 4px;
  }
  .main .modal .arrows .arrow-left .arrow-l:hover {
    color: #e7e7e7;
    background-color: #00c79f;
  }
  .main .modal .arrows .arrow-left .arrow-l:active {
    color: #ffffff;
    background-color: #00d1a7;
  }
  .main .modal .header .icon-arrow-left2 {
    cursor: pointer;
  }
  .main .modal .header .icon-arrow-left2:hover {
    color: #6e6e6e;
    background-color: #e2e2e2;
  }
  .main .modal .header .icon-arrow-left2:active {
    color: #00b894;
    background-color: #d8d8d8;
  }
}
@media screen and (min-width: 992px) and (max-width: 1350px) {
  .main .modal .arrows .arrow-right .arrow-r {
    padding: 10px 70px;
  }
  .main .modal .arrows .arrow-left .arrow-l {
    padding: 10px 70px;
  }
}
.modal::-webkit-scrollbar {
  background-color: #e4e4e4;
  width: 12px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
  height: 50px;
}
.modal::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a;
}
.modal::-webkit-scrollbar-thumb:active {
  background-color: #616060;
}

/*# sourceMappingURL=style.css.map */
